<header class="site-header">
  <div class="logo">
    <a href="index.html">
      <img src="assets/images/icons/nourivalogo.png" alt="Nouriva Wellness logo" class="logo-img" />
    </a>
  </div>

  <button class="nav-toggle" aria-label="Toggle navigation">
  <span></span>
  <span></span>
  <span></span>
</button>
<div id="meta"></div>


  <nav class="nav-links">
    <a href="index.html">Home</a>
    <a href="about.html">About</a>
    <a href="services.html">Services</a>
    <a href="contacts.html">Contact</a>
    <a href="blog.html">Our Blog</a>
    
  </nav>
</header>
